/* Sales Page */
div #Salmon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    width: 50%;
    opacity: 0.8;
}
header {
    width: 100%;
    background-color: lightblue;
}
.headerName {
    text-align: center;
    padding-bottom: .5%;
    margin-top: 3%;
    font-size: 50px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    color: salmon;
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
}

.phase {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2%;
    font-size: 20px;
}

#SD a {
    font-family: fantasy;
    color: white;
    margin-left: 5%;
    padding: 5px;
    padding-top: 8px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    border: black thin solid;
    border-color: gray;
    background-color: gray;
    border-radius: 10px;
}

table {
    margin: 5%;
}

#table-border {
    margin: 3%;
    padding: 0;
    border: thin solid rgb(155, 152, 152);
}
#table-body-top {
    border: none;
    border-color: none;
    border-style: none;
    border-bottom: none;
    color: black;
    font-weight: bold;
}

#table-body td {
    padding: 2%;
    margin: 0;
    border: thin solid rgb(155, 152, 152);
}

#table-body tr {
    padding: 0;
    margin: 0;
    border: thin solid rgb(155, 152, 152);
}

/* index page */

#footer-text ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 2%;
    padding: 0;
    line-height: 20px;

}

#chinook {
    display: inline-block;
    opacity: 0.8;
    margin-left: 5%;
    margin-top: 5%;
}

#hours-title {
    font-weight: bold;
    line-height: 30px;
}

#family-container {
    display: block;
}

#family-text {
    display: inline-block;
    /* padding: 20px; */
    margin-top: 20%;
    font-weight: bold;
}

#image-container {
    display: inline-block;
    text-align: right;
}

#family {
    text-align: right;
}

.footer-text {
    display: block;
}
